* {
    font-size: 16px;
    line-height: 1.5rem;
    margin: 0px;
}

body {
    background-color: rgb(176, 176, 176);
}

header {
    background-color: rgb(44, 44, 44);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
/* monochromatic primary style for page using greys, black, and white
color scheme */
header h1 {
    margin-left: 60px;
    margin-top: 15px;
    font-size:2rem;
    font-family: monospace;
    color: white;
}

header nav {
    font-family: serif;
}

header nav ul {
    margin: 0%;
    list-style-type: none;
}
/* no bullet points on unordered list, should display along the top of
header */
header nav ul li {
    display: inline-block;
}

nav a {
    color: white;
    font-size: 1.5rem;
    font-family: monospace;
    margin-right: 20px;
}

#img-and-intro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(26, 26, 26);
    padding: 8px;
}
article {
    display: flex;
    flex-direction: column;
}
#img-and-intro h2 {
    font-size: 5rem;
    font-family: monospace;
    line-height: 5rem;
    background-color: rgb(231, 231, 231);
    color: black;
    padding: 30px;
    border: 9px solid rgb(231, 231, 231);
    box-shadow: 10px 10px 1px rgb(44, 44, 44);
    margin: 0px;
}
/* introduction with styling */
#img-and-intro p {
    font-family: monospace;
    margin-top: 45px;
    margin-left: 15px;
    font-size: 1.5rem;
    color: rgb(231, 231, 231);
}
/* location and my main goal */
#img-and-intro img {
    max-width: 50%;
    width: 600px;
    margin-top: 20px;
    border: 15px solid rgb(231, 231, 231);
    margin-bottom: 20px;
    flex: 0 0 20%;
}

.content {
    width: 90%;
    margin-left: 100px;
}
/* sizing for primary content on page */
.info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 30px;
}
/* size versitality for small screens using flex */
.title {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
    padding-right: 15px;
    flex: 0 1 auto;
    margin: 0;
    margin-left: 8px;
    font-size: 3rem;
    display: flex;
    flex-wrap: wrap;
    line-height: 3rem;
}
/* h3 offset to the left with border seperating h3 and p */
.info p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 450;
    line-height: 2rem;
    margin-left: 20px;
    margin-right: 10%;
    padding-left: 100px;
    padding-bottom: 15px;
    padding-top: 20px;
    border-left: 5px solid;
    border-color: #000;
}

.my-work-container {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}
/* flex container for all projects in my work section, should allow size
versitality */

.container-item h4 {
    font-family: monospace;
    font-size: 2rem;
    background-color: rgb(44, 44, 44);
    color: white;
    padding: 10px;
    width: fit-content;
    margin-top: -20px;
    margin-left: 20px;
}
/* trying to create DRY css with h4 tag to style all lables on projects besides
on big project img */
.container-item{
    flex: 0 0 48%;
}
/* use flex so sizing on smaller screens should work */
.item-1 h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    line-height: 3rem;
    border-right: 5px solid;
    border-color: #000;
    margin-left: 50px;
    padding-right: 42px;
    padding-bottom: 2200px;
}
/* item 1 will be title for the my work section, needs to be inside of container
for flex box */
.work-boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 100px;
    margin-right: 400px;
}
/* container for all project imgs and links */
.item-2 {
    margin: 20px;
    flex: 0 0 100%;
}

.item-2 img {
    width: 100%;
    box-shadow: 5px 5px rgb(210, 210, 210);
    border: 10px solid rgb(44, 44, 44);
}

.item-2 h4 {
    font-family: monospace;
    font-size: 2rem;
    background-color: rgb(44, 44, 44);
    color: white;
    padding: 10px;
    width: fit-content;
    margin-top: -10px;
    margin-left: 0px;
}
/* needs to be seperate due to h4 adaptiveness */
.item-3 img {
    width: 100%;
    box-shadow: 5px 5px rgb(210, 210, 210);
    margin:10px 10px 10px 20px;
    border: 10px solid rgb(44, 44, 44);
}

.item-4 img {
    width: 100%;
    box-shadow: 5px 5px rgb(210, 210, 210);
    margin:10px 10px 10px 20px;
    border: 10px solid rgb(44, 44, 44);

}

.item-5 img {
    width: 100%;
    box-shadow: 5px 5px rgb(210, 210, 210);
    margin:10px 10px 10px 20px;
    border: 10px solid rgb(44, 44, 44);
}

.item-6 img {
    width: 100%;
    box-shadow: 5px 5px rgb(210, 210, 210);
    margin:10px 10px 10px 20px;
    border: 10px solid rgb(44, 44, 44);
}
/* needs to be updated to dry code, for some reason creating one class
for all item imgs breaks them */
.contact-me-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 40px;
}
/* container for contact me section with flex */
.contact-me-box h3 {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap:wrap;
    font-size: 3rem;
    line-height: 3rem;
    border-right: 5px solid;
    border-color: #000;
    margin-left: 20px;
    padding-right: 15px;
}

.contact-me-box ul {
   list-style: none;
   display: flex;
   justify-content: flex-start;
}

.contact-me-box li {
    margin: 15px;
    margin-top: 20px;
}

.contact-me-box a {
    font-size: 2rem;
    color: black;
}
footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(26, 26, 26);
    padding: 20px;
}
footer ul{
    list-style: none;
    font-family: monospace;
    color: rgb(255, 255, 255);
}
footer li {
    font-size: 1.5rem;
}
@media screen and (max-width: 992px) {
    .conent {
        width: 100%;
    }
    #img-and-intro {
        width: 100%;
    }
    .my-work-container {
        width: 50%;
    }
    .contact-me-box {
        width: 50%;
  }
  }

  @media screen and (max-width: 768px) {
    .conent {
        width: 100%;
    }
    #img-and-intro {
        width: 100%;
    }
    .my-work-container {
      width: 100%;
    }
    .contact-me-box {
        width: 100%;
  }
}
/* content in containers are stacked on top of each other at
768px or smaller */